header {
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
  text-align: right;
}

a {
  display: inline-flex;

  color: #FFF;
   
  font-size: 20px;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-weight: 500;

  text-decoration: none;
  margin-right: 30px;
  align-items: center;
}

a::before { /* pseudo elemento - :: content é obrigatório */
  content: "";
  background-color: #F25A70;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#button {
  display: inline-block;

  padding: 18px 20px;
  background-color: #F25A70;
  box-shadow: 5px 5px 0px #000000;
  margin-right: 0px;
  transition: 200ms transform ease-in-out;
}

#button:hover { /* pseudo classe - : */
  transform: scale(1.05);
  transition: 400ms transform cubic-bezier(0.42, 0, 0.47, 2.74);
}