.main-button {
  display: inline-block;
  background-color: #F25A70;
  box-shadow: 5px 5px 0px #000000;
  padding: 18px 20px;
  margin-right: 0px;
  transition: 200ms transform ease-in-out;

  text-decoration: none;

  font-size: 20px;
  font-weight: 500;
  color: #FFF;
}

.main-button:hover { /* pseudo classe - : */
  transform: scale(1.05);
  transition: 400ms transform cubic-bezier(0.42, 0, 0.47, 2.74);
}